python-dotenv~=1.2.2
httpx~=0.28.1
aiogram_sqlite_storage~=1.0.1
aiogram~=3.22.0
Kurigram~=2.2.12
vk-api~=11.10.0
types-requests~=2.32.4.20250913
aiosqlite~=0.21.0
aiogram-dialog~=2.4.0
vkbottle~=4.6.0
